= form_for @item do |f|
  .header
    .header__logo
      = link_to image_tag("/assets/logo.png", size:"185x50",class:"header__logo"), "#"
  .container
    .main
      -# 商品画像
      .item-content
        .item-content__fild
          .item-content__fild__dt
            .item-content__fild__dt__label 出品画像
            .item-content__fild__dt__required 必須
        .item-content__files
          .item-content__files__image-col
            = image_tag src="/assets/icon_camera.png", size: "100x100"
          .item-content__files__image-col
            = image_tag src="/assets/icon_camera.png", size: "100x100"
          .item-content__files__image-col
            = image_tag src="/assets/icon_camera.png", size: "100x100"
          .item-content__files__image-col
            = image_tag src="/assets/icon_camera.png", size: "100x100"
      -# 商品名/商品説明
      .item-content
        .item-content__fild
          .item-content__fild__dt
            .item-content__fild__dt__label 
            = f.label :name, "商品名"
            .item-content__fild__dt__required 必須
            %div
            = f.text_field :name, class:"item-content__text-fild",placeholder: "40文字"
        .item-content__fild
          .item-content__fild__dt
            .item-content__fild__dt__label
            = f.label :description, "商品説明"
            .item-content__fild__dt__required 必須
          %div
            -# = f.text_area :name, class:"item-content__text-area",placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", rows: "5"
      -# 商品詳細/カテゴリー/サイズ/ブランド/商品の状態
      .item-content
        .item-content__fild
          %p.note 商品の詳細
          .item-content__fild__dt
            .item-content__fild__dt__label
            = f.label :category_id, "カテゴリー"
            .item-content__fild__dt__required 必須
            .item-content__fild__dt__label.parent
              %select#parent
                %option{value: 0} ---
                - Category.where('ancestry IS NULL').each do |category|
                  %option{value: "#{category.id}"} #{category.name}
              %i.fas.fa-chevron-down
            .item-content__fild__dt__label.child
              %select#child
              %i.fas.fa-chevron-down
            .item-content__fild__dt__label.grand_child
              = f.collection_select(:category_id, [], :id, :name, {prompt: "---"}, {id: "grand_child"})
              %i.fas.fa-chevron-down
          %div
            -# = f.collection_select :category, Category.all, :id, :name, prompt: "" ,class: "item-content__text-select"
            -# %select{:name => "カテゴリー", :size => ""}
            -# %select{:name => "カテゴリー", :size => ""}
            -# %select{:name => "カテゴリー", :size => ""}
        .item-content__fild
          .item-content__fild__dt
            .item-content__fild__dt__label 
            = f.label :size_id, "サイズ"
            .item-content__fild__dt__required 必須
            %div
            -# = f.collection_select :size, Size.all, :id, :name, prompt: "",class: "item-content__text-select"
        .item-content__fild
          .item-content__fild__dt
            .item-content__fild__dt__label
            = f.label :bland_id, "ブランド"
            .item-content__fild__dt__any 任意
            %div
            = f.text_field :name, class:"item-content__text-fild",placeholder: "例シャネル"
        .item-content__fild
          .item-content__fild__dt
            .item-content__fild__dt__label
            = f.label :status, "商品の状態"
            .item-content__fild__dt__required 必須
            -# = f.collection_select :status, Status.all, :id, :name, prompt: "",class: "item-content__text-select"

      -# 配送について/配送の負担/発送の方法/発送元の地域/発送までの日数
      .item-content
        .item-content__fild
          %p.note 配送について
          .item-content__fild__dt
            .item-content__fild__dt__label 
            = f.label :burden, "配送の負担"
            .item-content__fild__dt__required 必須
            %div
            -# = f.collection_select :burden, Burden.all, :id, :name, prompt: "",class: "item-content__text-select"
        .item-content__fild
          .item-content__fild__dt
            .item-content__fild__dt__label 
            = f.label :method, "発送の方法"
            .item-content__fild__dt__required 必須
            %div
            -# = f.collection_select :method, Method.all, :id, :name, prompt: "",class: "item-content__text-select"
        .item-content__fild
          .item-content__fild__dt
            .item-content__fild__dt__label 
            = f.label :prefectures_id, "発送元の地域"
            .item-content__fild__dt__required 必須
            %div
            -# = f.collection_select :prefactures, Prefactures.all, :id, :name, prompt: "",class: "item-content__text-select"
        .item-content__fild
          .item-content__fild__dt
            .item-content__fild__dt__label
            = f.label :date, "発送までの日数"
            .item-content__fild__dt__required 必須
            %div
            -# = f.collection_select :date, Date.all, :id, :name, prompt: "",class: "item-content__text-select"

      -# 価格/出品ボタン/もどるリンク
      .item-content
        .item-content__fild
          %p.note 価格（¥300~9,999,999)
          .item-content__fild__dt
            .item-content__fild__dt__label
            = f.label :price, "販売価格"
            .item-content__fild__dt__required 必須
            %div
            = f.text_field :price, class:"item-content__text-fild",placeholder: "¥0"
        .item-content__reactid
          = f.submit '出品する', class: 'sellbtn'
          %br
          %a.cta-btn{:href => "#"} もどる
  .footer
    .footer__conditions
      %h5 プライバシーポリシー
      %h5 FURIMA利用規約
      %h5 特定商取引に関する表記
    .footer__logo
      = image_tag src="/assets/logo-white.png", size: "185x50"
    %p© FURIMA